<div id='ticket'>
	<h2><%= @ticket.title %></h2>
	<%= simple_format(@ticket.description) %>
	<%= link_to "Edit ticket", [:edit, @project, @ticket] %>
	<%= link_to "Delete ticket", [@project, @ticket], :method => :delete, :confirm => "You sure want to delete this ticket?" %>
</div>